version: "3"

services:
  iot-bot:
    image: xxx.dkr.ecr.eu-central-1.amazonaws.com/atomy/discord-bot_iot:latest
    restart: always
    environment:
        DISCORD_API_KEY: 'xxx'
        IOT_HOSTNAME_SELEKTOR: 'pi-kitchen'
        NATS_IP: '192.168.2.20'
